#feeds {
    width: 20%;
}

#items {
    width: 40%;
}

#content {
    width: 40%;
}

MainScreen Horizontal {
    height: 100%;
}

.feed_box {
    height: 10fr;
    content-align: center middle;
    border: tall $background;
}
.article_box {
    height: 1fr;
    border: tall $background;
}

.preview_box {
    height: 1fr;
}

LoadingScreen Center {
    height: 1fr;
    align: center middle;
}
